# SPDX-FileCopyrightText: 2021 Robin Vobruba <hoijui.quaero@gmail.com>
#
# SPDX-License-Identifier: CC0-1.0

target
dependency-reduced-pom.xml
release.properties
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
/README.html
# EMMA maven plugin report file
coverage.ec
.classpath
.project
.settings/
